$color-white: #fff;
$color-black: #413d4b;
$color-blue: #00e0d0;
$color-purple-light: #655c80;
$color-purple: #120a39;
$color-gray-light: #c6c4c9;
$color-text: #2f2d35;

$gd-purple: rgba(17, 10, 56, 0.8);
