@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,700|Roboto:400,500,700');

$font-family-main: 'Roboto', sans-serif;
$font-family-title: 'Playfair Display', serif;
$font-family-second: 'Hammersmith One', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
