.c-gallery {
	display: flex;
	flex-wrap: wrap;
	margin-top: 88px;
	margin-bottom: 110px;
}

.c-gallery__image {
	flex: 1;
	min-width: 16%;
	height: 200px;
	margin: 0;
	padding: 0;
	background-color: #a1a1a1;
	border: none;
}

.c-gallery__image:nth-child(even) {
	background-color: #b6b6b6;
}

@include respond-to(tablet) {
	.c-gallery__image {
		min-width: 26%;
	}	
}

@include respond-to(mobile) {
	.c-gallery__image {
		min-width: 100%;
	}	
}