.c-socials {
	list-style: none;
	text-align: left;
	padding: 0;
}

.c-socials__item {
	display: inline-block;
	margin: 0 4px;
}

.c-socials__image:hover {
	background-color: $color-purple-light;
	border-radius: 50%;
}