.s-our-story {
	padding: 70px 0;
}

.s-our-story__container {
	position: relative;
	display: inline-block;
	width: 55%;
}

.s-our-story::before {
	content: '';
	display: inline-block;
	position: relative;
	width: 32%;
	vertical-align: top;
	margin-left: 100px;
	height: 230px;
	background-image: url('../images/common/symbol.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.s-our-story__title{
	margin-bottom: 28px;
	font-size: 22px;
}

.s-our-story__text {
	margin-bottom: 30px;
	font-size: 14px;
}

@include respond-to(mobile) {
	.s-our-story {
		padding: 30 0;
	}

	.s-our-story::before {
		width: 40%;
		display: block;
		margin: 0 auto;
		height: 130px;
	}

	.s-our-story__container {
		width: 100%;
		text-align: center;
		padding: 0 10px;
	}
}

@include respond-to(tablet) {
	.s-our-story {
		padding: 30 0;
	}

	.s-our-story::before {
		width: 18%;
		display: block;
		margin: 0 auto;
		height: 130px;
	}

	.s-our-story__container {
		margin-top: 20px;
		width: 100%;
		text-align: center;
		padding: 0 10px;
	}
}