.s-works {
	padding: 70px 0;
	text-align: center;
	position: relative;

	.o-button {
		position: absolute;
		left: 50%;
		bottom: 70px;
		transform: translateX(-50%);
	}
}

.s-works__title {
	font-size: 22px;
	float: left;
}

.s-works__see-all {
	float: right;
	color: $color-black;
	text-decoration: none;
	font-size: 14px;

	&::after {
		clear: both;
		content: '';
		background: transparent;
		width: 4px;
		height: 4px;
	  border: solid 1px $color-black;
	  border-width: 0 3px 3px 0;
	  display: inline-block;
	  padding: 3px;
	  cursor: pointer;
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	}
}

@include respond-to(mobile) {
	.s-works {
		padding: 30px 0;
	}

	.s-works__title {
		float: none;
		margin-bottom: 10px;
	}

	.s-works__see-all {
		float: none;
	}
}

@include respond-to(tablet) {
	.s-works__title {
		margin-left: 10px;
	}

	.s-works__see-all {
		margin-right: 10px;
	}
}
